<!DOCTYPE html>
<html lang="es">
	
<head>
    <meta charset="UTF-8">
    <title>Cartelera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <h1>Películas en Cartelera</h1>
<div>
	<div class="main">
		<div class="slider">
			<div class="ordenar">
				<h2>Ordenar</h2>
			</div>
			<div class="ver">
				<h2>Ver en: </h2>
			</div>
			<div class="filtros">
				<h2>Filtros</h2>
			
				{% for pelicula in peliculas %}
					<div style="margin-bottom: 20px;">
						<h2>{{ pelicula.title }}</h2>
						{% if pelicula.poster_path %}
							<img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt="{{ pelicula.title }}" style="width:200px;">
						{% else %}
							<p>No hay imagen disponible.</p>
						{% endif %}
						<p>{{ pelicula.overview }}</p>
					</div>
				{% endfor %}
			</div>
</body>
</html>