<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Series</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detalles_una_serie.css') }}">
</head>
<body>
    <div class="busqueda">
    <form method="POST" action="{{ url_for('detalles_una_serie_buscar.detalles_una_serie_buscar') }}">
        <input type="text" name="Buscar" placeholder="Id de la serie">
        <button type="submit">Buscar</button>
    </form>
    </div>
    <div class="tarjeta">
        <div class="tarjeta-imagen img">
            <img src="https://image.tmdb.org/t/p/w200{{ datos.poster_path }}" alt="{{ datos.name }}">
        </div>
        <div class="contenido-tarjeta">
        <h1 class="titulo-serie">{{ datos.name }}</h1>
        {% if datos.genres %}
            <p class="generos">Generos:
                {% for genero in datos.genres %}
                    {{ genero.name }}
                {% endfor %}
            </p>
        {% endif %} 
        <p class="puntuacion">Puntuacion: {{ datos.vote_average }}</p>
        <p><strong>Total de votos:</strong> {{ datos.vote_count }}</p>
        <h3><em>{{ datos.tagline }}</em></h3>
        <p class="descripcion">{{ datos.overview }}</p>
        {% if datos.created_by %}
            <p class="creador">
                {% for creador in datos.created_by %}
                    {{ creador.name }}
                {% endfor %}
            </p>
        {% endif %}
        <p><strong>Primera emision:</strong> {{ datos.first_air_date }}</p>
        <p><strong>Ultima emision:</strong> {{ datos.last_air_date }}</p>
        <p><strong>Estado:</strong> {{ datos.status }}</p>
        <p><strong>Temporadas:</strong> {{ datos.number_of_seasons }}</p>
        <p><strong>Total de episodios:</strong> {{ datos.number_of_episodes }}</p>
        {% if datos.languages %}
            <p><strong>Idiomas disponibles:</strong>
                {% for lenguaje in datos.languages %}
                    {{ lenguaje }}
                {% endfor %}
            </p>
        {% endif %}
        {% if datos.networks %}
            <p><strong>Emitido por:</strong>
                {% for network in datos.networks %}
                    {{ network.name }}
                {% endfor %}
            </p>
        {% endif %}
        </div>
    </div>
</body>
</html>