<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/ejemplo.css">
</head>
<body>
  <header class="encabezado">
    <nav>
      <div class="logo">
        <img src="../static/img/logo.svg" alt="Logo de la Empresa">
        <h1>Titulo de la Empresa</h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="./ejemplo2.html">inicio</a></li>
          <li>sobre nosotros</li>
          <li>contactenos</li>
          <li>ayuda</li>
        </ul>
      </div>
    </nav>
  </header>


  <main>
    <div class="container-main">
      <div class="title">
        <h2>Películas en cartelera</h2>
      </div>
      <div class="content">
        <div class="filters">
          <div>
            <h3>Ordenar</h3>
          </div>
          <div>
            <h3>Donde se puede ver</h3>
          </div>
          <div>
            <h3>Filtros</h3>
          </div>
          <div>
            <button>Buscar</button>
          </div>
        </div>
        <div class="container-cards">
          <div>
            <section>

              <!-- Card -->
              {% for pelicula in peliculas %}
                <div class="card">
                  <div class="imagen">
                    <div>
                      <a href="#"><img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt=""></a>
                    </div>
                  </div>
                  <div class="content-card">
                    <h2>{{ pelicula.title   }}</h2>
                    <p> {{   pelicula.relase_date  }}</p>
                  </div>
                </div>
              {% endfor %}
            </section>
          </div>
        </div>

      </div>
    </div>
  </main>



  
</body>
</html>