<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/ejemplo.css">
</head>
<body>
  <header class="encabezado">
    <nav>
      <div class="logo">
        <img src="../static/img/logo.svg" alt="Logo de la Empresa">
        <h1>Titulo de la Empresa</h1>
      </div>
      <div id="menu">
        <ul>
          <li><a href="./ejemplo2.html">inicio</a></li>
          <li>sobre nosotros</li>
          <li>contactenos</li>
          <li>ayuda</li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    
  </main>



  
</body>
</html>