<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Créditos de la película</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='elencoyequipos.css') }}">
</head>
<body>
    
    
        {% for actor in cast %}
        <tr>
            <h1>Reparto elenco</h1> 
            {{ actor.name }} como {{ actor.character }}
        </tr>
         {% endfor %}
    

    
  
        {% for miembro in crew %}
        <tr>
          <h2>Equipo técnico</h2>
            <td>{{ miembro.name }}</td> 
            <td>{{ miembro.job }}</td> 
        
        </tr>
        {% endfor %}
   
</body>
</html>
