<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>busqueda de peliculas por genero</title>
</head>
<body>
    <input type="id" name="number" value="{{genero_pelicula.id}}"readnoly> 
        </h2 style="color:blanchedalmond;">usuario<h2> 
        <h1>genero la pelicula: {{ pelicula class="id"}}</h1>
        <button> actualizar genero_pelicula</button>

        <button style="margin-top: 10px;background-color:brown; color:antiquewhite ">
            <a href="/" style="color:white; text-decoration:none">
                regresar al home
            </a>
        </button>
   






</body>
</html>