<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="witdh=device-witdh,initial-scale=1.0">

    <title>busqueda de peliculas por genero</title>
    <link rel="stylesheet" href="{{url_for('static',filename ='genero peliculas.css')}}">
</head>
<body>
    <div class="contenedor">
    </h2 style="color:blanchedalmond;">id<h2> 
    <form method="POST">
    <input type="number" name="id">
    <button> actualizar genero_pelicula</button>
    </form> 
    <table>
        <tr><th>id</th><th>genero de peliculas</th></tr>
        <tr>
            <td>{{  salida.id  }}</td>
            <td>{{  salida.name }}</td>
            <td>
                 <a href="/update/{{ salida.id }}">editar</a>

                 <a href="/?eliminar={{ salida.name }}">eliminar</a>
       
            </td>
        </tr>
        



    </table>     
  
 
    </div>
   






</body>
</html>