<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Listado de peliculas mejor valoradas</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='mejores_valoradas.css')}}">
</head>
<body>
    {% for pelicula in datos %}
        <h1>Titulo de la pelicula: {{ pelicula.title }}</h1>
        <h2>Valoracion: {{ pelicula.vote_average }}</h2>
        <h3>Fecha de lanzamiento: {{ pelicula.release_date }}</h3>
        <img src="https://image.tmdb.org/t/p/w200{{ pelicula.poster_path }}" alt="{{ pelicula.title }}">
    {% endfor %}
</body>
</html>
    
